html, body, #root, .App {
  height: 100%;
}
.chat-msg {
  font-family: DuckGame;
  margin: 2px;
}
.chat-msg>span {
  padding-left: 1em;
  display: inline-block;
  position: relative;
}
.chat-msg img {
  position: absolute;
  left: -0.75em;
  top: -0.75em;
  width: 2em;
  height: 2em;
}
.chat-msg span.white {
  background-color: #FFFFFF;
}
.chat-msg span.grey {
  background-color: #7D7D7D;
}
.chat-msg span.yellow {
  background-color: #F7E05A;
}
.chat-msg span.brown {
  background-color: #CD6B1D;
}
.chat-dn {
  color: white;
}
@font-face {
  font-family: DuckGame;
  src: url(DuckGame.ttf);
}
