html, body, #root, .App {
  height: 100%;
}
.chat-msg {
  font-family: DuckGame;
  margin: 2px;
}
.chat-msg>span {
  padding-left: 1em;
  display: inline-block;
  position: relative;
}
.chat-msg img {
  position: absolute;
  left: -0.75em;
  top: -0.75em;
  width: 2em;
  height: 2em;
}
.chat-msg span.white {
  background-color: rgba(255, 255, 255, 0.7);
}
.chat-msg span.grey {
  background-color: rgba(125, 125, 125, 0.7);
}
.chat-msg span.yellow {
  background-color: rgba(247, 224, 90, 0.7);
}
.chat-msg span.brown {
  background-color: rgba(205, 107, 29, 0.7);
}
.chat-dn {
  color: white;
}
@font-face {
  font-family: DuckGame;
  src: url(DuckGame.ttf);
}
